In [4]:
# while loop
i=0
while i <10 :
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [10]:
# while loop
# even numbers and sum of even number:
i=0
k=0
l=0
while i<100 and k<=100:
    i+=2
    k+=1
    print(k,"|even number |",i)
    l+=i
print("Even number sum of 1  to 100 :-",l)

1 |even number | 2
2 |even number | 4
3 |even number | 6
4 |even number | 8
5 |even number | 10
6 |even number | 12
7 |even number | 14
8 |even number | 16
9 |even number | 18
10 |even number | 20
11 |even number | 22
12 |even number | 24
13 |even number | 26
14 |even number | 28
15 |even number | 30
16 |even number | 32
17 |even number | 34
18 |even number | 36
19 |even number | 38
20 |even number | 40
21 |even number | 42
22 |even number | 44
23 |even number | 46
24 |even number | 48
25 |even number | 50
26 |even number | 52
27 |even number | 54
28 |even number | 56
29 |even number | 58
30 |even number | 60
31 |even number | 62
32 |even number | 64
33 |even number | 66
34 |even number | 68
35 |even number | 70
36 |even number | 72
37 |even number | 74
38 |even number | 76
39 |even number | 78
40 |even number | 80
41 |even number | 82
42 |even number | 84
43 |even number | 86
44 |even number | 88
45 |even number | 90
46 |even number | 92
47 |even number | 94
48 |even number | 96
49 |even number | 98
50 |even number | 100
Even number sum of 1  to 100 :- 2550

In [2]:
# while loop continue
i=0
while i<10 :
    i+=1
    if(i==5):
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [4]:
# while loop break statement
i=0
while i<20 :
    i+=1
    if(i==7):
        break
    print(i)

1
2
3
4
5
6

In [6]:
#while loop pass statement
i=0
while i<17 :
    i+=2
    if(i==10):
        pass
    else:
        print(i)

2
4
6
8
12
14
16
18

In [8]:
#while loop else statement
i=0
while i<=10:
    print(i)
    i+=1
else:
    print("I is no longer less than equal to 10")

0
1
2
3
4
5
6
7
8
9
10
I is no longer less than equal to 10